/.git/
/.github/
/.kudora/
/.testnets/
/.localnet/
/build/
/dist/
/tmp/
/tmp/mainnet-genesis/
/release/temp/
/out/
deploy/localnet/state/
deploy/explorers/**/.env
deploy/explorers/**/data/
deploy/explorers/**/db/
deploy/explorers/**/postgres/
deploy/explorers/**/redis/
deploy/monitoring/**/.env
deploy/monitoring/**/data/
deploy/monitoring/**/prometheus-data/
deploy/monitoring/**/grafana-data/
deploy/cosmovisor/**/.env
.env
.env.*
*.key
*.pem
*.seed
*.mnemonic
priv_validator_key.json
node_key.json
key_seed.json
*.log
.DS_Store
__MACOSX
coverage.out
coverage
*.coverprofile
*.test
tmp/phase-14-*
tmp/phase-15-monitoring/
tmp/phase-17-*
out/*.zip
