ETHEREUM_JSONRPC_VARIANT=geth
ETHEREUM_JSONRPC_HTTP_URL=http://kudora-validator-0:8545/
ETHEREUM_JSONRPC_TRACE_URL=http://kudora-validator-0:8545/
ETHEREUM_JSONRPC_WS_URL=ws://kudora-validator-0:8546/
DATABASE_URL=postgresql://blockscout:blockscout@kudora-blockscout-db:5432/blockscout
ECTO_USE_SSL=false
ECTO_SSL_MODE=disable
SECRET_KEY_BASE=localnet-only-non-secret-value
PORT=4000
CHAIN_ID=120001
NETWORK=Kudora Localnet
SUBNETWORK=Kudora Localnet
COIN_NAME=Kudora
COIN=KUD
DISABLE_MARKET=true
INDEXER_DISABLE_INTERNAL_TRANSACTIONS_FETCHER=true
